DB_URL=jdbc:postgresql://localhost:5432/database_name
DB_USERNAME=your_username
DB_PASSWORD=your_password

MQTT_BROKER_URL=tcp://localhost:1883
MQTT_CLIENT_ID=industrial-monitoring-backend
MQTT_TOPIC_ROOT=rtz
MQTT_DEVICE_ID=edge01
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password

EXPORT_ENABLED=true
EXPORT_OUTPUT_DIR=exports
EXPORT_CHUNK_SIZE=100
EXPORT_CRON="0 0 2 1 1 *"
EXPORT_ZONE=Europe/Berlin

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

KEYCLOAK_VIEWER_PASSWORD=change_me
KEYCLOAK_OPERATOR_PASSWORD=change_me
KEYCLOAK_AUDITOR_PASSWORD=change_me
KEYCLOAK_APP_ADMIN_PASSWORD=change_me

KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/industrial-monitoring
KEYCLOAK_JWK_SET_URI=http://localhost:8180/realms/industrial-monitoring/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=industrial-monitoring-api

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS_ENABLE=false

EXPORT_MAIL_ENABLED=false
EXPORT_MAIL_FROM=no-reply@industrial-monitoring.local
EXPORT_MAIL_ANNUAL_RECIPIENT=operator@example.com
